@charset "UTF-8";


@media screen and (min-width: 768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-position: fixed;
        height: 100vh;
    }
    main{
        background-color: white;
        height: 300px;
        width: 600px;
        border-radius: 15px;
        margin: auto;
        padding: 0px;;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        columns: 2;
    }
    img{
        margin: 0px;
        padding: 0px;
        width: 300px;
        border-radius: 15px 0px 0px 15px;
        height: 300px;
        
    }
   
    p{
        padding: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        text-align: justify;
    }
    span{
        padding: 6px;
    }
    #um, #dois{
    padding: 2px;
    height: 40px;
    width: 250px;
    }
    #enter, #reset{
        padding: 1px;
        margin-left: 20px;
        margin-top: 8px;
        width: 250px;
    }
    #contraseña, #mail{
        height: 29px;
        width: 200px;
    
        
    }
    
    h1{
        font-size: 1.9em;
    }
}
@media screen and (min-width: 1200px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-position: fixed;
        height: 100vh;
    }
    main{
        background-color: white;
        height: 300px;
        width: 900px;
        border-radius: 15px;
        margin: auto;
        padding: 0px;;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        columns: 2;
    }
    img{
        margin: 0px;
        padding: 0px;
        width: 460px;
        border-radius: 15px 0px 0px 15px;
        height: 300px;
        
    }
   
    p{
        padding: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        text-align: justify;
    }
    span{
        padding: 6px;
    }
    #um, #dois{
    padding: 2px;
    height: 40px;
    width: 310px;
    }
    #enter, #reset{
        padding: 1px;
        margin-left: 65px;
        margin-top: 10px;
        width: 310px;
    }
    #contraseña, #mail{
        height: 29px;
        width: 260px;
        
    }
    
    h1{
        font-size: 1.9em;
    }
}

